/**
 * Koishi Komeiji Variant
 * by: TheBITLINK
 */

.app.theme-dark {
  background: #273239 url("https://d.thebitlink.com/dbg2.png") 130% 10% fixed no-repeat !important;
  background-size: bg-size !important;
}

.theme-dark [class*='popout-'] [class*='header-'],
.theme-dark [class*='queryContainer-'] {
  background: #13191c !important;
  border-bottom: none !important;
}

.theme-dark [class*='popout-'] [class*='footer-'] {
  background: #13191c !important;
}

.theme-dark [class*='themedPopout-'],
.theme-dark [class*='popout-'] [class*='container-'],
.theme-dark [class*='resultsGroup-'] [class*='header-'],
.theme-dark [class*='popout-'] [class*='body-'] {
  background: #232d33 !important;
}

.theme-dark [class*='autocomplete-'] {
  background: #232d33 !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 4px solid transparent !important;
}

.theme-dark [class*='autocomplete-'] [class*='selectorSelected-'],
.theme-dark [class*='searchOption-'][class*='selected-'] {
  background-color: rgba(163,177,31,0.25) !important;
}

.theme-dark [class*='messagesPopout-'] [class*='actionButtons-'] {
  box-shadow: none !important;
  background: none !important;
}

.theme-dark [class*='messagesPopout-'] [class*='actionButtons-'] [class*='jumpButton-'] {
  background: #273239 !important;
}

.theme-dark [class*='messagesPopout-'] [class*='actionButtons-'] [class*='jumpButton-']:hover {
  background: #626a13 !important;
}

.theme-dark [class*='messagesPopout-'] [class*='messageGroupWrapper-'],
.theme-dark [class*='messagesPopout-'] [class*='messageGroupWrapper-'] [class*='container-'] {
  background: #1f282e !important;
  border: none !important;
}

.theme-dark [class*='popout-'] .tab-bar-item:hover,
.theme-dark .search-header .tab:hover {
  border-bottom: 2px solid rgba(163,177,31,0.25) !important;
}

.theme-dark [class*='popout-'] .tab-bar-item.selected,
.theme-dark .search-header .tab.selected {
  border-bottom: 2px solid #a3b11f !important;
  color: #a3b11f !important;
}

.theme-dark [class*='layer-'] > [class*='container-'],
.theme-dark [class*='channels-'],
.theme-dark [class*='chat-'],
.theme-dark [class*='messagesWrapper-'],
.theme-dark [class*='headerBar-'],
.theme-dark [class*='layers-'],
.theme-dark [class*='layer-'],
.theme-dark [class*='channels-'] > [class*='container-'],
.theme-dark #friends,
.theme-dark .friends-table {
  background: transparent !important;
}

.theme-dark [class*='chat-'] [class*='content-'],
.theme-dark [class*='chat-'] [class*='typing-'],
.theme-dark [class*='chat-'] form {
  background: transparent !important;
}

.theme-dark [class*='iconBadge-'],
.theme-dark [class*='badge-'],
.theme-dark .tab-bar-item > [class*='wrapper-'],
.theme-dark .tab-bar-item-primary,
.theme-dark [href='/channels/@me'] [class*='wrapper-'],
.theme-dark [class*='contentUnreadText-'] [class*='wrapper-'],
.theme-dark [class*='contentHoveredText-'] [class*='wrapper-'] {
  box-shadow: none !important;
  background: #a3b11f !important;
  border-color: #13191c !important;
}

.theme-dark .tab-bar-item-primary .badge {
  background: #13191c !important;
  color: #a3b11f !important;
}

.theme-dark [class*='scroller']::-webkit-scrollbar-button,
.theme-dark [class*='scroller']::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: transparent !important;
}

.theme-dark [class*='scroller']::-webkit-scrollbar-button {
  height: 0 !important;
}

.theme-dark [class*='scroller']::-webkit-scrollbar-button:end {
  height: 64px !important;
}

.theme-dark [class*='scroller']::-webkit-scrollbar-thumb {
  border-color: transparent !important;
}

.theme-dark .connecting {
  background: #273239 !important;
}

.theme-dark ::selection {
  background: rgba(163,177,31,0.5);
  color: #fff;
}

.theme-dark .spinner .spinner-item {
  background: #a3b11f !important;
}

.theme-dark .status-typing .spinner .spinner-item {
  background: #fff !important;
}

.theme-dark [class*="channels-"] header:first-child,
.theme-dark [class*='titleWrapper-'],
.theme-dark [class*='headerBar-'],
.theme-dark [class*='privateChannels-'] [class*='searchBar-'],
.theme-dark .friends-header {
  background: #13191c !important;
  border: none !important;
  border-radius: 0;
}

.theme-dark [class*="channels-"] header:first-child button.active,
.theme-dark [class*='titleWrapper-'] button.active,
.theme-dark [class*='headerBar-'] button.active,
.theme-dark [class*='privateChannels-'] [class*='searchBar-'] button.active,
.theme-dark .friends-header button.active {
  background: #a3b11f !important;
}

.theme-dark [class*="channels-"] header:first-child .topic .aka,
.theme-dark [class*='titleWrapper-'] .topic .aka,
.theme-dark [class*='headerBar-'] .topic .aka,
.theme-dark [class*='privateChannels-'] [class*='searchBar-'] .topic .aka,
.theme-dark .friends-header .topic .aka {
  background: #727c16 !important;
}

.theme-dark [class^='guildsWrapper-'] {
  background: #13191c !important;
}

.theme-dark [class*='channels-'] {
  backdrop-filter: blur(5px);
}

.theme-dark [class*='channels-'] [class*='scrollerWrap-'],
.theme-dark [class*='channels-'] [class*='channelNotice-'] {
  background-color: rgba(255,255,255,0.8) !important;
}

.theme-dark [class*='channels-'] > [class*='container-']:nth-last-child(2):not(:first-child),
.theme-dark [class*='channels-'] > [class*='container-']:last-child {
  background: rgba(255,255,255,0.9) !important;
  border: none;
}

.theme-dark [class*='channels-'] > [class*='container-']:nth-last-child(2):not(:first-child) [class*='button-'],
.theme-dark [class*='channels-'] > [class*='container-']:last-child [class*='button-'] {
  background-color: rgba(0,0,0,0.2);
}

.theme-dark [class*='contentSelectedText'],
.theme-dark [class*='channel-'][class*='selected-'] a {
  background: rgba(163,177,31,0.5) !important;
}

.theme-dark [class*='contentHoveredText'],
.theme-dark [class*='channel-']:not([class*='selected-']):hover a {
  background: rgba(163,177,31,0.1) !important;
}

.theme-dark [class*='contentSelectedText-'],
.theme-dark [class*='channel-'][class*='selected-'] a {
  position: relative;
  overflow: hidden;
}

.theme-dark [class*='contentSelectedText-']::after,
.theme-dark [class*='channel-'][class*='selected-'] a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  width: 5px;
  height: 5px;
  background: rgba(222,232,127,0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
  animation: ripple 500ms linear;
}

.theme-dark [class*='nameDefaultText-'],
.theme-dark [class*='nameDefault-'],
.theme-dark [class*='nameDefaultVoice-'] {
  color: rgba(255,255,255,0.25) !important;
}

@-moz-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(100, 100);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(100, 100);
  }
}

@-o-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(100, 100);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(100, 100);
  }
}

.theme-dark [class*='status-']:not(.status-text) {
  border: 2px solid #1d252b !important;
}

.theme-dark [class*='members-'] {
  background: rgba(255,255,255,0) !important;
  backdrop-filter: blur(10px);
}

.theme-dark [class*='unreadMentionsBar-'],
.theme-dark [class*='unreadBar-'] {
  background: #a3b11f !important;
}

.theme-dark [class*='guild'][class*='unread']:not([class*='selected']):before {
  width: 10px !important;
  height: 10px !important;
  background: #a3b11f !important;
  box-shadow: 0 0 0 4px rgba(163,177,31,0.25);
}

.theme-dark [class*='wrapperUnreadText-'] [class*='unread-'],
.theme-dark [class*='wrapperHoveredText-'] [class*='unread-'] {
  width: 3px !important;
  height: 6px !important;
  background: #a3b11f !important;
  box-shadow: 0 0 0 4px rgba(163,177,31,0.25);
}

.theme-dark [class*='guild'][class*='selected']::before {
  background: #a3b11f !important;
  width: 7px !important;
  border-radius: 0 !important;
}

.theme-dark [class*='newMessagesBar-'],
.theme-dark [class*='jumpToPresentBar-'] {
  background: rgba(163,177,31,0.75) !important;
  left: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  backdrop-filter: blur(5px);
}

.theme-dark [class*='newMessagesBar-'] button:last-child,
.theme-dark [class*='jumpToPresentBar-'] button:last-child {
  color: #e5ed98 !important;
}

.theme-dark .has-more button {
  background: rgba(163,177,31,0.75) !important;
  border: none !important;
  color: #fff !important;
}

.theme-dark [class*='dividerRed-'] span {
  color: #a3b11f !important;
}

.theme-dark [class*='dividerRed-'] span::before,
.theme-dark [class*='dividerRed-'] span::after {
  border-color: #a3b11f !important;
}

.theme-dark [class*='markup-'] > a,
.theme-dark [class*='embedDescription-'] > a,
.theme-dark [class*='embedTitleLink-'],
.theme-dark [class*='anchor'] {
  color: #a3b11f !important;
}

.theme-dark code,
.theme-dark pre,
.theme-dark .messages-popout .message-group,
.theme-dark .invite-button {
  background: rgba(0,0,0,0.1) !important;
}

.theme-dark code .hljs,
.theme-dark pre .hljs,
.theme-dark .messages-popout .message-group .hljs,
.theme-dark .invite-button .hljs {
  color: rgba(255,255,255,0.5);
}

.theme-dark pre,
.theme-dark .messages-popout .message-group,
.theme-dark .invite-button {
  border-color: rgba(0,0,0,0.2) !important;
}

.theme-dark [class*='embedInner-'] {
  background: rgba(0,0,0,0.05) !important;
  border-color: rgba(0,0,0,0.1) !important;
}

.theme-dark [class*='embedPill-']:not([style]) {
  background-color: #384852 !important;
}

.theme-dark .mention:not([style]) {
  color: #a3b11f !important;
  background: rgba(163,177,31,0.1) !important;
}

.theme-dark .mention:not([style]):hover {
  background: rgba(163,177,31,0.2) !important;
}

.theme-dark [class*='isMentioned-'] {
  background: rgba(163,177,31,0.2) !important;
}

.theme-dark [class*='isMentioned-']::after {
  border-left: 4px solid #a3b11f !important;
  background: rgba(163,177,31,0.2) !important;
}

.theme-dark [class*='channelTextArea-'] [class*='inner-'] {
  backdrop-filter: blur(10px);
  background-color: rgba(20,25,28,0.4) !important;
}

.theme-dark [class*='message-'] [class*='channelTextArea-'] [class*='inner-'] {
  border-bottom: 2px solid #a3b11f !important;
  border-radius: 0 !important;
}

.theme-dark [class*='messagesWrapper-'] {
  margin-bottom: -94px;
}

.theme-dark [class*='messagesWrapper-'] [class*='messages-'] {
  padding-bottom: 94px;
}

.theme-dark [class*='channelTextArea-'] {
  border-top: none !important;
}

.theme-dark [class*='channelTextArea-'] [class*='inner-'] {
  background-color: rgba(20,25,28,0.4) !important;
}

.theme-dark [class*='jumpToPresentBar-'] {
  bottom: 94px !important;
}

.theme-dark [class*='chat-'] form {
  background: linear-gradient(transparent, #273239) !important;
  margin: 0;
  padding: 0 20px;
}

.theme-dark [class*='typing'] {
  margin: 0 20px;
}

.theme-dark [class*='attachButtonDivider-'] {
  display: none;
}

.theme-dark [class*='botTag-'] {
  background: #a3b11f !important;
}

.theme-dark [class*='messagesWrapper-'] {
  background: rgba(39,50,57,0) !important;
}

.theme-dark .search .search-bar {
  background: none !important;
  border-radius: 0;
}

.theme-dark .search.open .search-bar {
  border-bottom: 2px solid #273239;
}

.theme-dark .search.focused .search-bar {
  border-bottom: 2px solid #a3b11f;
}

.theme-dark .search:not(.focused):not(.open) {
  width: 32px !important;
}

.theme-dark .search:not(.focused):not(.open) .icon-search-bar-eye-glass {
  opacity: 0.7 !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar:hover .icon-search-bar-eye-glass {
  opacity: 0.9 !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar {
  width: 32px !important;
  cursor: pointer !important;
}

.theme-dark .search:not(.focused):not(.open) .search-bar-icon {
  pointer-events: none;
}

.theme-dark .search:not(.focused):not(.open) .public-DraftEditorPlaceholder-root {
  display: none !important;
}

.theme-dark .search-results-wrap {
  background: rgba(20,25,28,0.4) !important;
}

.theme-dark .search-results-wrap .channel-name,
.theme-dark .search-results-wrap .search-result::before,
.theme-dark .search-results-wrap .search-result::after,
.theme-dark .search-results-wrap .search-result-message.hit {
  background: none !important;
}

.theme-dark .search-results-wrap .search-header {
  background: #13191c !important;
}

.theme-dark .search-results-wrap .search-result-message.hit {
  background: #1f282e !important;
  border-color: rgba(163,177,31,0.75) !important;
  box-shadow: 0 0 10px 6px rgba(163,177,31,0.25);
}

.theme-dark [class*='searchOption-']:after {
  background: linear-gradient(90deg, transparent, #232d33 80%) !important;
}

.theme-dark [class*='searchFilter-'],
.theme-dark [class*='searchAnswer-'] {
  background: #51590f;
}

.theme-dark .friends-row {
  border-color: transparent !important;
}

.theme-dark .friends-row:hover {
  background: rgba(163,177,31,0.25) !important;
  box-shadow: none !important;
}

.theme-dark .friends-row .friends-action {
  background-color: rgba(0,0,0,0.2) !important;
}

@media screen and (max-width: 720px) {
  .theme-dark [class*='guildsWrapper-'],
  .theme-dark [class*='channels-'],
  .theme-dark [class*='membersWrap-'],
  .theme-dark [class*='headerBar-'] > :last-child {
    display: none !important;
  }
}

[class*='backdrop'] {
  backdrop-filter: blur(5px);
}

.tooltip {
  background-color: #a3b11f !important;
}

.tooltip.tooltip-left::after {
  border-left-color: #a3b11f;
}

.tooltip.tooltip-right::after {
  border-right-color: #a3b11f;
}

.tooltip.tooltip-top::after {
  border-top-color: #a3b11f;
}

.tooltip.tooltip-bottom::after {
  border-bottom-color: #a3b11f;
}