/**
 * Chat (dark variant)
 */
[class*='newMessagesBar-'], [class*='jumpToPresentBar-'] {
  background: alpha(accent-color, 75%)!important
  left: 0!important
  right: 0!important
  border-radius: 0!important
  if enable-backdrop and enable-backdrop isnt 'modals' {
    backdrop-filter: blur(5px)
  }

  button:last-child {
    color: lighten(accent-color, 60%)!important
  }
}

.has-more button { // don't remember what this was
  background: alpha(accent-color, 75%)!important
  border: none!important
  color: white!important
}

[class*='dividerRed-'] {
  span {
    color: accent-color!important
    &::before, &::after {
      border-color: accent-color!important
    }
  }
}

[class*='markup-'] > a, [class*='embedDescription-'] > a, [class*='embedTitleLink-'], [class*='anchor'] {
  color: accent-color!important
}

// code blocks and embeds
code, pre, .messages-popout .message-group, .invite-button {
  background: rgba(0,0,0,.1)!important
  .hljs { color: alpha(white, 50%) }
}

pre, .messages-popout .message-group, .invite-button {
  border-color: rgba(0,0,0,.2)!important
}

[class*='embedInner-'] {
  background: rgba(0,0,0,.05)!important
  border-color: rgba(0,0,0,.1)!important
}

[class*='embedPill-']:not([style]) {
  background-color: lighten(dark-base, 10%)!important
}

.mention:not([style]) {
  color: accent-color!important
  background: alpha(accent-color, 10%)!important
  &:hover {
    background: alpha(accent-color, 20%)!important
  }
}

[class*='isMentioned-'] {
  background: alpha(accent-color, 20%)!important
  &::after {
    border-left: 4px solid accent-color!important
    background: alpha(accent-color, 20%)!important
  }
}

if classic-chat-form {
  [class*='chat'] form {
    background-color: alpha(darken(dark-base, 50%), 40%) !important
    margin: 0!important
    if enable-backdrop and enable-backdrop isnt 'modals' {
      backdrop-filter: blur(10px)
    }
  }
  [class*='channelTextArea-'] {
    padding-top: 0!important
    margin-bottom: 20px!important
    border-top: none
    [class*='inner-'] {
      background-color: transparent!important
    }
  }
  [class*='message-'] [class*='channelTextArea-'] [class*='inner-'] {
    border-bottom: 2px solid accent-color!important
    border-radius: 0!important
  }

  // Overlay mode
  if chat-form-overlay {
    [class*='messagesWrapper-'] {
      margin-bottom: -64px

      [class*='messages-'] {
        padding-bottom: 64px
      }
    }
    [class*='jumpToPresentBar-'] {
      bottom: 64px!important
    }
    [class*='chat-'] form {
      if enable-backdrop and enable-backdrop isnt 'modals' {
        background-color: alpha(darken(dark-base, 50%), 40%) !important
      } else {
        background-color: alpha(darken(dark-base, 20%), 90%) !important
      }
    }
  }
} else {
  [class*='channelTextArea-'] {
    [class*='inner-'] {
      if enable-backdrop and enable-backdrop isnt 'modals' {
        backdrop-filter: blur(10px)
      }
      background-color: alpha(darken(dark-base, 50%), 40%) !important
    }
  }

  [class*='message-'] [class*='channelTextArea-'] [class*='inner-'] {
    border-bottom: 2px solid accent-color!important
    border-radius: 0!important
  }

  // Overlay mode
  if chat-form-overlay {
    [class*='messagesWrapper-'] {
      margin-bottom: -94px

      [class*='messages-'] {
        padding-bottom: 94px
      }
    }

    [class*='channelTextArea-'] {
      border-top: none!important
      [class*='inner-'] {
        if enable-backdrop and enable-backdrop isnt 'modals' {
          background-color: alpha(darken(dark-base, 50%), 40%) !important
        } else {
          background-color: alpha(darken(dark-base, 20%), 90%) !important
        }
      }
    }

    [class*='jumpToPresentBar-'] {
      bottom: 94px!important
    }

    [class*='chat-'] form {
      background: linear-gradient(transparent, dark-base)!important
      margin: 0
      padding: 0 20px
    }

    [class*='typing'] {
      margin: 0 20px
    }
  }
}

[class*='attachButtonDivider-'] {
  display: none
}

[class*='botTag-'] {
  background: accent-color!important
}

[class*='messagesWrapper-'] {
  background: alpha(dark-base, 1 - bg-opacity)!important
}
