/**
 * ¯\_(ツ)_/¯
 */

// We transparent in this town
[class*='layer-'] > [class*='container-'], [class*='channels-'], [class*='chat-'],
[class*='messagesWrapper-'], [class*='headerBar-'], [class*='layers-'], [class*='layer-'],
[class*='channels-'] > [class*='container-'], #friends, .friends-table
{
  background: transparent !important
}

[class*='chat-'] {
  [class*='content-'],  [class*='typing-'], form {
    background: transparent !important
  }
}

// Badges
[class*='iconBadge-'], [class*='badge-'], .tab-bar-item > [class*='wrapper-'], .tab-bar-item-primary,
[href='/channels/@me'] [class*='wrapper-'], [class*='contentUnreadText-'] [class*='wrapper-'],
[class*='contentHoveredText-'] [class*='wrapper-']
{
  box-shadow: none !important
  background: accent-color !important
  border-color: header-bg !important
}

.tab-bar-item-primary .badge {
  background: header-bg !important
  color: accent-color !important
}

// Scrollbars
[class*='scroller'] {
  &::-webkit-scrollbar-button, &::-webkit-scrollbar-track-piece {
    background-color: transparent !important
    border: transparent !important
  }

  &::-webkit-scrollbar-button {
    height: 0 !important
    if chat-form-overlay {
      &:end {
        height: 64px !important
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    border-color: transparent !important
  }
}

// Load screen
.connecting {
  background: dark-base !important
}

// Selected text
::selection {
  background: alpha(accent-color, 50%)
  color: #FFFFFF
}

// Spinners
.spinner .spinner-item {
  background: accent-color !important
}

// Typing
.status-typing .spinner .spinner-item {
  background: white !important
}
