/**
 * Friend List (Dark Variant)
 */
.friends-row {
  border-color: transparent!important

  &:hover {
    background: alpha(accent-color, 25%)!important
    box-shadow: none!important
  }
  
  .friends-action {
    background-color: rgba(0,0,0,.2)!important
  }
}