/**
 * Headers (Dark Variant)
 */
.guild-header, .guild-header header, .title-wrap,
.private-channels .search-bar, .friends-header {
  background: header-bg!important
  border: none!important
  border-radius: 0

  button.active {
    background: accent-color!important
  }

  if small-headers {
    min-height: 48px!important
    padding-top: 0
    padding-bottom: 0
    height: 48px!important

    span {
      line-height: 32px!important
    }

    .topic .aka {
      display: none
    }
  }
}

.guilds-wrapper {
  background: header-bg!important
}
