/**
 * Headers (Dark Variant)
 */
.guild-header, .guild-header header, .title-wrap,
.private-channels .search-bar, .friends-header {
  background: header-bg!important
  border: none!important
  border-radius: 0

  button.active {
    background: accent-color!important
  }

  .topic .aka {
    background: darken(accent-color, 30%)!important
  }

  if small-headers {
    min-height: 48px!important
    padding-top: 0
    padding-bottom: 0
    height: 48px!important

    span {
      line-height: 32px!important
    }

    .topic {
      align-items: center
      display: flex!important

      span, a {
        margin-left: 2px
        margin-right: 2px
      }

      a {
        color: accent-color!important
      }
    }
  }
}

.guilds-wrapper {
  background: header-bg!important
}
