/**
 * Discord-Adapta Dark Variant
 */

.app.theme-dark {
  background: dark-base bg-image!important
  if bg-size {
    background-size: bg-size!important
  }
}

.theme-dark {
  @require 'popouts'
  @require 'common'
  @require 'headers'
  @require 'sidebars'
  @require 'chat'
  @require 'friend-list'
}
