/**
 * Discord-Adapta Dark Variant
 */

.app.theme-dark {
  background: dark-base bg-image!important
  if bg-size {
    background-size: bg-size!important
  }
}

.theme-dark {
  @require 'popouts'
  @require 'common'
  @require 'headers'
  @require 'sidebars'
  @require 'chat'
  @require 'search'
  @require 'friend-list'
  if responsive {
    @require 'responsive'
  }
}

// Backdrops
if enable-backdrop {
  [class*='backdrop']{
    backdrop-filter: blur(5px)
  }
}


// Tooltips
.tooltip {
  background-color: accent-color!important

  &.tooltip-left::after {
    border-left-color: accent-color
  }
  &.tooltip-right::after {
    border-right-color: accent-color
  }
  &.tooltip-top::after {
    border-top-color: accent-color
  }
  &.tooltip-bottom::after {
    border-bottom-color: accent-color
  }
}
