/**
 * Popouts (Dark Variant)
 */

.themed-popout .header, .channel-textarea-autocomplete-inner header {
  background: header-bg!important
  border-bottom: none!important
}

.themed-popout .footer {
  background: header-bg!important
}

.themed-popout, .channel-textarea-autocomplete-inner {
  background: darken(dark-base, 10%)!important
  border: none!important
  border-radius: 0!important
  border-bottom: 4px solid transparent!important
}

.channel-textarea-autocomplete-inner ul li.active {
  background: alpha(accent-color, 25%)!important
}

.channel-textarea-autocomplete-inner:after {
  border: none!important
}

code, pre, .messages-popout .message-group, .invite-button {
  background: rgba(0,0,0,.1)!important
}

pre, .messages-popout .message-group, .invite-button {
  border-color: rgba(0,0,0,.2)!important
}

.messages-popout .message-group .action-buttons {
  box-shadow: none!important
  background: none!important
  
  .jump-button {
    background: dark-base!important

    &:hover {
      background: darken(accent-color, 40%)!important
    }
  }
}

.popout .tab-bar-item {
  &:hover {
    border-bottom: 2px solid alpha(accent-color, 25%)!important
  }
  &.selected {
    border-bottom: 2px solid accent-color!important
    color: accent-color!important
  }
}

.embed {
  background: rgba(0,0,0,.05)!important
  border-color: rgba(0,0,0,.1)!important
}
