/**
 * Popouts (Dark Variant)
 */
[class*='popout-'] [class*='header-'], [class*='queryContainer-'] {
  background: header-bg!important
  border-bottom: none!important
}
[class*='popout-'] [class*='footer-'] {
  background: header-bg!important
}

[class*='themedPopout-'], [class*='popout-'] [class*='container-'], [class*='resultsGroup-'] [class*='header-'],
[class*='popout-'] [class*='body-'] {
  background: darken(dark-base, 10%)!important
}

[class*='autocomplete-'] {
  background: darken(dark-base, 10%)!important
  border: none!important
  border-radius: 0!important
  border-bottom: 4px solid transparent!important
}

[class*='autocomplete-'] [class*='selectorSelected-'], [class*='searchOption-'][class*='selected-'] {
  background-color: alpha(accent-color, 25%)!important
}

[class*='messagesPopout-'] [class*='actionButtons-'] {
  box-shadow: none!important
  background: none!important

  [class*='jumpButton-'] {
    background: dark-base!important

    &:hover {
      background: darken(accent-color, 40%)!important
    }
  }
}

[class*='messagesPopout-'] [class*='messageGroupWrapper-'],
[class*='messagesPopout-'] [class*='messageGroupWrapper-'] [class*='container-'] {
  background: darken(dark-base, 20%)!important
  border: none!important
}

[class*='popout-'] .tab-bar-item, .search-header .tab {
  &:hover {
    border-bottom: 2px solid alpha(accent-color, 25%)!important
  }
  &.selected {
    border-bottom: 2px solid accent-color!important
    color: accent-color!important
  }
}
