/** Show only the chat when the window is too small **/
@media screen and (max-width: 720px) {
  [class*='guildsWrapper-'], [class*='channels-'], [class*='membersWrap-'], [class*='headerBar-'] > :last-child {
    display: none!important
  }
}
