/** Show only the chat when the window is too small **/
@media screen and (max-width: 720px) {
  .guilds-wrapper, .channels-wrap, .header-toolbar, .channel-members-wrap {
    display: none!important
  }
}
