/**
 * Sidebars (dark variant)
 */

.guild-channels, .private-channels {
  background: alpha(darken(dark-base, 20%), 75%)!important
  if enable-backdrop and enable-backdrop isnt 'modals' {
    backdrop-filter: blur(10px)
  }
}

.channel-text, .private-channels .channel, .search-result, .member {
  &.selected, &:hover, &.member.popout-open {
    background: none!important
  }

  &.selected span {
    color: lighten(accent-color, 20%)!important
    &:before {
      color: alpha(accent-color, 75%)!important
    }
  }
}

.account, #voice-connection {
  background: alpha(darken(dark-base, 30%), 70%)!important
  border: none

  // Buttons
  .btn {
    background: rgba(0,0,0,.2)
  }

  .btn-group, .btn, .btn::before, .btn::after {
    border-color: transparent!important
    box-shadow: none!important
  }
}

.account {
  height: 62px!important
  if enable-backdrop and enable-backdrop isnt 'modals' {
    backdrop-filter: blur(5px)
  }
}

.channel-members {
  background: alpha(darken(dark-base, 50%), 40%)!important

  if increased-channel-members-opacity {
    background: alpha(darken(dark-base, 20%), 90%)!important
  }
}

if enable-backdrop and enable-backdrop isnt 'modals' {
  .channel-members-wrap {
    backdrop-filter: blur(10px)
  }
}

.new-messages-indicator {
  font-size: 0!important
  background: alpha(accent-color, 75%)!important

  span {
    margin: 0
  }
}

// Unread indicators

.guild.unread:not(.selected):before, .channel-text.unread:not(.channel-muted):not(.selected):before,
.private-channels .channel.unread:not(.channel-muted):not(.selected):before {
  width: 10px!important
  height: 10px!important
  background: accent-color!important
  box-shadow: 0 0 0 4px alpha(accent-color, 25%)
}

// Selected indicators

.guild.selected::before {
  background: accent-color!important
  width: 9px!important
  border-radius: 0!important
}

.channel-text:hover:before,.private-channels .channel:hover:before {
  border-left-color: alpha(accent-color, 50%)!important
}

.channel-text.selected:before, .private-channels .channel.selected:before {
  border-left-color: accent-color!important
}

.active .guild-inner, .selected .guild-inner, .guild:hover .guild-inner {
  background-color: accent-color!important 
}

.channel-members-loading {
  background-color: dark-base!important

  .background {
    background-image: linear-gradient(90deg, transparent, alpha(accent-color, 30%),transparent)!important
  }
  .member {
    background-image: svgurl(embedurl('../../components/member-loading.svg')) svg(path fill header-bg)!important
  }
  .heading {
    background-image: svgurl(embedurl('../../components/member-loading-header.svg')) svg(path fill header-bg)!important
  }
}

if ripple-effect {
  .channel-text {
    position: relative
    overflow: hidden
  }

  .channel-text:after {
    content: ''
    position: absolute
    top: 50%
    left: 10%
    width: 5px
    height: 5px
    background: alpha(accent-color, 50%)
    opacity: 0
    border-radius: 100%
    transform: scale(1, 1) translate(-50%)
    transform-origin: 50% 50%
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0)
      opacity: 1
    }
    20% {
      transform: scale(25, 25)
      opacity: 1
    }
    100% {
      opacity: 0
      transform: scale(100, 100)
    }
  }

  .channel-text.selected::after {
    animation: ripple 1s ease-out
  }
}