/**
 * Sidebars (dark variant)
 */
// Channels Sidebar
[class*='channels-'] {
  [class*='scrollerWrap-'], [class*='channelNotice-'] {
    background-color: alpha(darken(dark-base, 20%), 75%)!important
  }

  // Voice connection and account details
  > [class*='container-']:nth-last-child(2):not(:first-child),
  > [class*='container-']:last-child {
    background: alpha(darken(dark-base, 30%), 70%)!important
    border: none

    // Buttons
    [class*='button-'] {
      background-color: rgba(0,0,0,.2)
    }
  }

  if classic-chat-form {
    > [class*='container-']:last-child {
      padding-top: 5px!important
      padding-bottom: 6px!important
    }
  }

  // Backdrop blur
  if enable-backdrop and enable-backdrop isnt 'modals' {
    backdrop-filter: blur(5px)
  }
}

if classic-channel-list {
  [class*='contentSelectedText-'], [class*='contentHoveredText-'],
  [class*='channel-'][class*='selected-'] a, [class*='channel-']:hover a {
    background: transparent!important
    margin: 1px 0 1px 6px!important
  }

  [class*='wrapperSelectedText-'], [class*='channel-'][class*='selected-'] {
    border-left: 2px solid accent-color
    padding: 2px 0
  }

  [class*='wrapperHoveredText-'], [class*='channel-']:not([class*='selected-']):hover {
    border-left: 2px solid alpha(accent-color, 50%)
    padding: 2px 0
  }

  [class*='wrapperDefaultText-'], [class*='wrapperUnreadText-'], [class*='channel-'] {
    padding: 2px 0
  }

  if ripple-effect {
    [class*='wrapperSelectedText-'], [class*='channel-'][class*='selected-'] {
      position: relative
      overflow: hidden

      &::after {
        content: ''
        position: absolute
        top: 50%
        left: 10%
        width: 5px
        height: 5px
        background: alpha(lighten(accent-color, 50%), 50%)
        opacity: 0
        border-radius: 100%
        transform: scale(1, 1) translate(-50%)
        transform-origin: 50% 50%
        animation: ripple 500ms linear
      }
    }
  }
} else {
  [class*='contentSelectedText'], [class*='channel-'][class*='selected-'] a {
    background: alpha(accent-color, 50%)!important
  }

  [class*='contentHoveredText'], [class*='channel-']:not([class*='selected-']):hover a {
    background: alpha(accent-color, 10%)!important
  }

  if ripple-effect {
    [class*='contentSelectedText-'],  [class*='channel-'][class*='selected-'] a {
      position: relative
      overflow: hidden

      &::after {
        content: ''
        position: absolute
        top: 50%
        left: 10%
        width: 5px
        height: 5px
        background: alpha(lighten(accent-color, 50%), 50%)
        opacity: 0
        border-radius: 100%
        transform: scale(1, 1) translate(-50%)
        transform-origin: 50% 50%
        animation: ripple 500ms linear
      }
    }
  }
}

[class*='nameDefaultText-'] , [class*='nameDefault-'], [class*='nameDefaultVoice-'] {
  color: alpha(white, 25%)!important
}

if ripple-effect {
  @keyframes ripple {
    0% {
      transform: scale(0, 0)
      opacity: 1
    }
    20% {
      transform: scale(25, 25)
      opacity: 1
    }
    100% {
      opacity: 0
      transform: scale(100, 100)
    }
  }
}

// Status indicators
[class*='status-']:not(.status-text) {
  border: 2px solid darken(dark-base, 25%)!important
}

// Members sidebar
[class*='members-'] {
  background: alpha(darken(dark-base, 50%), 40%)!important

  if increased-channel-members-opacity {
    background: alpha(darken(dark-base, 20%), 90%)!important
  }

  if enable-backdrop and enable-backdrop isnt 'modals' {
    backdrop-filter: blur(10px)
  }
}

// "New mentions" indicator.
[class*='unreadMentionsBar-'], [class*='unreadBar-'] {
  background: accent-color!important
}

// Unread indicators
[class*='guild'][class*='unread']:not([class*='selected']):before {
  width: 10px!important
  height: 10px!important
  background: accent-color!important
  box-shadow: 0 0 0 4px alpha(accent-color, 25%)
}

[class*='wrapperUnreadText-'] [class*='unread-'], [class*='wrapperHoveredText-'] [class*='unread-'] {
  width: 3px!important
  height: 6px!important
  background: accent-color!important
  box-shadow: 0 0 0 4px alpha(accent-color, 25%)
}

// Selected indicators
[class*='guild'][class*='selected']::before {
  background: accent-color!important
  width: 7px!important
  border-radius: 0!important
}
