/**
 * Kurumi Tokisaki Variant
 * by: zet4
 */
accent-color = #9f2c31
dark-base = rgb(30, 25, 25)
header-bg = rgb(24, 20, 21)
small-headers = false

bg-image = url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-451908.jpg) no-repeat
bg-size = cover

@require 'discord-adapta@default'

.app>.flex-vertical>.flex-horizontal {
  background: alpha(dark-base, 75%)!important
}
