/**
 * Discord Adapta Theme 1.0
 * by>thebit.link
 */
// Accent Color
accent-color ?= #0EA1B6
// Background Color for Dark Theme
dark-base ?= #273239
// Background Color for Light Theme (not yet implemented)
light-base ?= #FFFFFF
// Background Color for Headers
header-bg ?= #13191C
// If set to true, headers will be slightly small. This does not work quite well on Windows.
small-headers ?= false
// If set to true, when the window is <720px in size, only the chat section will be visible.
responsive ?= true
// If set to true, the chat form will be overlaying the messages. Though it doesn't look so well.
// When enabled, it also increases the opacity of the chat form, so it looks even worse with backgrounds.
// Use at your own risk.
chat-form-overlay ?= false
// If set to true, the channel members sidebar will have the same opacity as the chat form when you enable
// chat-form-overlay. It **might** make everything look less ugly, but ugh
increased-channel-members-opacity ?= false
// Enables Backdrop Filters. (Blur behind certain things). Goes well with chat-form overlay.
// These will only work if you launch discord with the --enable-experimental-web-platform-features flag (for now)
enable-backdrop ?= false

bg-image ?= no-repeat

// Dark Theme
@require '../styles/dark'
