/**
 * Shirasaka Koume Variant
 * by: TheBITLINK
 */
accent-color = #0EA1B6
dark-base = #273239
header-bg = #13191C
small-headers = true

bg-image = url(https://cdn.discordapp.com/attachments/248274146931245056/255750750439735297/unknown.png) 90% 100% no-repeat
bg-size = contain

@require 'discord-adapta@default'
