/**
 * Shinobu Oshino Variant
 * by: TheBITLINK
 */
accent-color = #0EA1B6
dark-base = #273239
header-bg = #13191C
small-headers = true

bg-image = url(https://cdn.discordapp.com/attachments/213567259782807553/252944461116604416/unknown.png) no-repeat
bg-size = cover

@require 'discord-adapta@default'
