/**
 * Byakuren Hijiri Variant
 * by: TheBITLINK
 */

// i'll not change the colors ¯\_(ツ)_/¯
accent-color = #0EA1B6
dark-base = #273239
header-bg = #13191C
small-headers = true

bg-image = url(https://cdn.discordapp.com/attachments/248274146931245056/258428901032722442/unknown.png) 85% 100% fixed no-repeat

@require 'discord-adapta@default'
