/**
 * Koishi Komeiji Variant
 * by: TheBITLINK
 */
accent-color = #A3B11F
enable-backdrop = true
chat-form-overlay = true

bg-image = url(https://d.thebitlink.com/dbg2.png) 130% 10% fixed no-repeat
bg-opacity = 100

@require 'discord-adapta@default'
