/**
 * Koishi Komeiji Variant
 * by: TheBITLINK
 */
accent-color = #0EA1B6
dark-base = #273239
header-bg = #13191C
small-headers = true
chat-form-overlay = true
enable-backdrop = true

bg-image = url(https://thebit.link/content/images/2016/11/discordbg.png) 75% 100% fixed no-repeat

@require 'discord-adapta@default'
